main {
    background-color: darkgray;
    width: 500px;
    text-align: center;
    margin-left: 350px;
}

body {
    background-color: #034694;
    background-repeat: no-repeat;
    background-size: 1300px 700px;
}


h1 {
    background-color: darkgray;
    width: 500px;
    text-align: center;
    margin-left: 350px;
}

p {
    background-color: darkgray;
    width: 500px;
    text-align: center;
    margin-left: 350px;
}

nav {
    background-color: darkgray;
    width: 500px;
    text-align: center;
    margin-left: 350px;
}

input {
    margin-bottom: 20px;
}

