* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside {
  position: fixed;
  width: 200px;
  border-right: 1px solid;
  border-color: rgb(0, 173, 238, 0.4);
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

aside > img {
  height: 120px;
  display: inline-block;
  margin: 0 auto;
}

main {
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

aside > nav li {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid;
  border-color: rgb(0, 173, 238, 0.4);
  margin: 10px auto;
  padding-bottom: 10px;
  width: 80%;
  line-height: 2;
}

aside > nav li a {
  font-weight: bold;
  color: #00ADEE;
  text-decoration: none;
}

aside > nav li a:hover {
  text-decoration: underline;
} 

main > header {
  height: 120px;

}

main > header img {
  height: 80%;
}

main > img {
  display: inline-block;
  width: 100%;
}

section > div {
  display: inline-block;
  width: 33%;
  padding-right: 20px;
  margin-top: 20px;
}

h2 {
  color: #8CC36F;
  }

  h2 i {
    margin-right: 10px;
  }

  section > div:nth-child(-n+2) {
    border-right: 1px solid;
    border-color: rgba(170, 239, 135, 0.8);
  }

  section > div:nth-last-child(-n+2) {
    padding-left: 20px;
  }


  /* I can not for the life of me get the Tech Elevator symbol to move slightly to the right. What am I missing here? */

