h3 {
    color: rgba(0, 0, 220, 0.5);
    /* Alpha allows transparency */
}

h1 {
    color: green;
    font-size: 42px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(200, 200, 200);
}

p {
    color: #121296;
}

img {
    height: 100px;
}